<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="/static/theme/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/theme/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/static/theme/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/static/theme/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>

	<!-- end: CSS -->


	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="/static/theme/css/ie.css" rel="stylesheet">
	<![endif]-->

	<!--[if IE 9]>
		<link id="ie9style" href="/static/theme/css/ie9.css" rel="stylesheet">
	<![endif]-->

</head>

<body>


		<div class="container-fluid">
		<div class="row-fluid">

			<!-- start: Content -->
			<div id="content" class="span11">


			<div class="row-fluid">

				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon list-alt"></i><span class="break"></span>Example Chart</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div id="example_chart"  class="center" style="height:300px;" >
						</div>
						<p>Series controls go here</p>
					</div>
				</div>


			</div><!--/row-->


			<hr>


					<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->

		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>

		<div class="clearfix"></div>


	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
	<script src="/static/theme/js/jquery-1.9.1.min.js"></script>
	<script src="/static/charts.js"></script>
	<script type="text/javascript">
	    /* Line */
	    $(function () {

	        var data = [];
	        {% for d in datasets %}

	            data.push({data: {{d.data|safe}},
	                        label: '{{d.label}}'
	                        {% if 'lines' in d.keys %}
	                        ,lines: {{d.lines|safe}}
	                        {% endif %}
	                        {% if 'points' in d.keys %}
	                        ,points: {{d.points|safe}}
	                        {% endif %}
	                        }
	            );
	        {% endfor %}

	        Charts.line ( '#example_chart', data);

	    });
	</script>


	<script src="/static/theme/js/jquery-migrate-1.0.0.min.js"></script>
	<script src="/static/theme/js/jquery-ui-1.10.0.custom.min.js"></script>
	<script src="/static/theme/js/jquery.ui.touch-punch.js"></script>
	<script src="/static/theme/js/modernizr.js"></script>
	<script src="/static/theme/js/bootstrap.min.js"></script>
	<script src="/static/theme/js/jquery.cookie.js"></script>
	<script src='/static/theme/js/jquery.dataTables.min.js'></script>
	<script src="/static/theme/js/excanvas.js"></script>
	<script src="/static/theme/js/jquery.flot.js"></script>
	<script src="/static/theme/js/jquery.flot.pie.js"></script>
	<script src="/static/theme/js/jquery.flot.stack.js"></script>
	<script src="/static/theme/js/jquery.flot.resize.min.js"></script>

	<!-- end: JavaScript-->

</body>
</html>
